/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.content-width {
  width: 50%;
}

#logo {
  width: 240px;
}

.side {
  top: 50%;

  &.left {
    
    &.inview {
      left: 11.5% ;
    }
    
  }
  &.right {

    &.inview {
      right: 11.5% ;
    }
  }
}